.accordion-item h2 {
  margin: 0px;
}

.accordion-button::after {
  background-image: url('/src//assets/img/angle-arrow-down-white.png');
}

.accordion-button {
  background-color: #343a40;
  color: white;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: none;
}