.accordion-item h2 {
  margin: 0px;
}
.accordion-item{
  margin-bottom: -1px;
}
.accordion-button::after {
  
  background-image:url("assets/img/angle-arrow-down-white.png");
}

.accordion-button {
  background-color: #343a40;
  color: white;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: none;
}