<div class="row">
  <div class="title text-center">
    <h2>Create Category</h2>
  </div>
  <form>
    <div class="inputField">
      <label for="name">Category</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter category" [(ngModel)]="categoryDto.name" required />
    </div>
    <div class="inputField">
      <label for="description">Description</label>
      <textarea name="description" class="form-control" id="Message" rows="4" placeholder="Enter description"
        [(ngModel)]="categoryDto.description"></textarea>
    </div>
    <div >
      <label for="isActive" >IsActive</label>
      <input type="checkbox" class="form-control" [(ngModel)]="categoryDto.isActive" class="ml-5" name="isActive"
        id="isActive" />
    </div>
    <div class="inputField">
      <!-- <label for="add_file">Add File/Image File format:<span class="file_Format">
          jpg png jpeg or pdf</span></label> -->
      <div class="file_div">
        <img [src]="imgURL" alt="Choose image/file Image size 400 x 300" class="img_preview">
        <input type="file" title="add image" placeholder="Add file" (change)="addFile($event)"
          accept="image/png, image/jpg image/jpeg file/pdf" />
      </div>
    </div>
    <div class="form_btn">
      <button type="submit" class="btn btn-default" (click)="save()">Submit</button>
    </div>
  </form>
</div>