:root{
    --temp-color--:#2ed8b6;
    --temp-color-d--:#66C976;
    
}
.inputField{
    display: flex;
    flex-direction: column;
}
label{
    color: rgb(41, 41, 41);
    margin-bottom: 3px;
}
input,
textarea{
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #e2e2e2;
}
input[type=file]{
    cursor: pointer;
    height: 150px;
    border: none;
    opacity: 0;
    width: 100%;
}
.file_div{
    height: 300px;
    /* border: 1px solid #adadad; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.img_preview{
    position: absolute;
    height: 300px;
    width: 400px;
    border: 1px solid #e2e2e2;
    text-align: center;
    color: red;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    padding-top: 5px;
}
.file_div span{
    position: absolute;
    font-size: 20px;
    color: red;
    font-weight: 700;
}
input:focus-visible,
textarea:focus-visible{
    outline: none;
}
.form_btn{
    text-align: center;
}
.form_btn button{
    margin-top: 13px;
    border: 1px solid #e2e2e2;
    padding: 10px 30px;
    background-color:#26a33a !important;
    color: white;
    transition: all ease-in-out 0.4s;
}
.file_Format{
    color: red;
}
.form_start{
    padding: 20px;
}
.title h2{
    font-size: 25px;    
}