<nav class="mt-2">
  <ul
    class="nav nav-pills nav-sidebar flex-column nav-flat"
    data-widget="treeview"
    role="menu"
    data-accordion="false"
  >
    <ng-container *ngFor="let item of menuItems">
      <ng-container
        *ngTemplateOutlet="sidebarInner; context: { item: item }"
      ></ng-container>
    </ng-container>
  </ul>
</nav>

<ng-template #sidebarInner let-item="item">
  <li
    *ngIf="isMenuItemVisible(item)"
    class="nav-item"
    [class.menu-open]="!item.isCollapsed"
    [class.has-treeview]="item.children"
  >
    <a
      *ngIf="item.route && item.route.indexOf('http') != 0"
      class="nav-link"
      [routerLink]="item.route"
      [class.active]="item.isActive"
    >
      <i class="nav-icon {{ item.icon }}"></i>
      <p>
        {{ item.label }}
      </p>
    </a>
    <a
      *ngIf="item.route && item.route.indexOf('http') == 0 && !item.children"
      class="nav-link"
      target="_blank"
      [href]="item.route"
    >
      <i class="nav-icon {{ item.icon }}"></i>
      <p>
        {{ item.label }}
      </p>
    </a>
    <a
      *ngIf="!item.route && item.children"
      class="nav-link"
      href="javascript:;"
      [class.active]="item.isActive"
      (click)="item.isCollapsed = !item.isCollapsed"
    >
      <i class="nav-icon {{ item.icon }}"></i>
      <p>
        {{ item.label }}
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul
      *ngIf="item.children"
      class="nav nav-treeview"
      [collapse]="item.isCollapsed"
      [isAnimated]="true"
    >
      <ng-container *ngFor="let item of item.children">
        <ng-container
          *ngTemplateOutlet="sidebarInner; context: { item: item }"
        ></ng-container>
      </ng-container>
    </ul>
  </li>
</ng-template>

<!-- <nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="../../index.html">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item nav-category">UI Elements</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">UI Elements</span>
        <i class="menu-arrow"></i> 
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/buttons.html">Buttons</a></li>
          <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/dropdowns.html">Dropdowns</a></li>
          <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/typography.html">Typography</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item nav-category">Forms and Datas</li>
    <li class="nav-item active">
      <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
        <i class="menu-icon mdi mdi-card-text-outline"></i>
        <span class="menu-title">Form elements</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse show" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link active" href="../../pages/forms/basic_elements.html">Basic Elements</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon mdi mdi-chart-line"></i>
        <span class="menu-title">Charts</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="charts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../../pages/charts/chartjs.html">ChartJs</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Tables</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../../pages/tables/basic-table.html">Basic table</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
        <i class="menu-icon mdi mdi-layers-outline"></i>
        <span class="menu-title">Icons</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="icons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../../pages/icons/mdi.html">Mdi icons</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item nav-category">pages</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi-account-circle-outline"></i>
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../../pages/samples/login.html"> Login </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item nav-category">help</li>
    <li class="nav-item">
      <a class="nav-link" href="http://bootstrapdash.com/demo/star-admin2-free/docs/documentation.html">
        <i class="menu-icon mdi mdi-file-document"></i>
        <span class="menu-title">Documentation</span>
      </a>
    </li>
  </ul>
</nav> -->
