<div class="vehicle_type_form_start">
    <div class="row">
        <div class="col-12">
            <div class="vehilce_action_form_title mt-4">
                <h3>Add Vehicle Type of Taxi Ride</h3>
                <div class="line-break"></div>
            </div>
        </div>
        <div class="col-4">
            <div class="vehicle mt-4">
                Vehicle Type Name:<span>*</span> 
            </div>
        </div>
        <div class="col-8">
            <div class="vehicle_form_input mt-4">
                <input type="text" name="vehicle-type" id="vehicle-type" placeholder="Unique vehicle type name">
            </div>
        </div>
        <div class="col-4">
            <div class="vehicle mt-4">
                Vehicle Type Image:<span>*</span> 
            </div>
        </div>
        <div class="col-8">
            <div class="vehicle_form_input mt-4">
                <input type="file" name="vehicle-file" id="vehicle-file">
                <p class="pt-2">[Note: Upload only png icon dimension between 50*50 to 100*100 & max size 100kb.]</p>
            </div>
        </div>
        <div class="col-4">
            <div class="vehicle mt-4">
                Cost For Km:<span>*</span> 
            </div>
        </div>
        <div class="col-8">
            <div class="vehicle_form_input mt-4">
                <input type="number" placeholder="0" name="vehicle-cost-by-km" id="vehicle-cost-by-km">
            </div>
        </div>
        <div class="col-4">
            <div class="vehicle mt-4">
                Time Fare(per min):<span>*</span> 
            </div>
        </div>
        <div class="col-8">
            <div class="vehicle_form_input mt-4">
                <input type="number" name="Time-Fare-per-min" id="Time-Fare-per-min" placeholder="Time Fare per min">
            </div>
        </div>
        <div class="col-4">
            <div class="vehicle mt-4">
                Vehicle Type Name:<span>*</span> 
            </div>
        </div>
        <div class="col-8">
            <div class="vehicle_form_input mt-4">
                <input type="text" name="vehicle-type" id="vehicle-type" placeholder="Unique vehicle type name">
            </div>
        </div>
        <div class="col-4">
            <div class="vehicle mt-4">
                Base Fare:<span>*</span> 
            </div>
        </div>
        <div class="col-8">
            <div class="vehicle_form_input mt-4">
                <input type="number" name="base-fare" id="base-fare" placeholder="Base Fare">
            </div>
        </div>
        <div class="col-4">
            <div class="vehicle mt-4">
                Min Fare Amount:<span>*</span> 
            </div>
        </div>
        <div class="col-8">
            <div class="vehicle_form_input mt-4">
                <input type="number" name="Min-Fare-Amount" id="Min-Fare-Amount" placeholder="Min Fare Amount">
            </div>
        </div>
        <div class="col-4">
            <div class="vehicle mt-4">
                Rental Cost For KM :
            </div>
        </div>
        <div class="col-8">
            <div class="vehicle_form_input mt-4">
                <input type="number" name="rental-cost-for-km" id="rental-cost-for-km" placeholder="Rental Cost For KM">
            </div>
        </div>
        <div class="col-4">
            <div class="vehicle mt-4">
                Rental Amount For 1 Hour :
            </div>
        </div>
        <div class="col-8">
            <div class="vehicle_form_input mt-4">
                <input type="number" name="rental-amount-for-hour" id="rental-amount-for-hour" placeholder="Rental Amount For 1 Hour :">
            </div>
        </div>
        <div class="col-4">
            <div class="vehicle mt-4">
                Rental Km Limit For 1 Hour :
            </div>
        </div>
        <div class="col-8">
            <div class="vehicle_form_input mt-4">
                <input type="number" name="rental-km-limit-for-hour" id="rental-km-limit-for-hour" placeholder="Rental Km Limit For 1 Hour :">
            </div>
        </div>
        <div class="col-4">
            <div class="vehicle mt-4">
                Surcharge Time Status:
            </div>
        </div>
        <div class="col-8">
            <div class="vehicle_form_input mt-4">
                <input type="checkbox" name="surcharge-time-status" id="surcharge-time-status">
            </div>
        </div>
        <div class="col-4">
            <div class="vehicle mt-4">
                Surcharge Time: <span>*</span>
            </div>
        </div>
        <div class="col-8">
            <div class="vehicle_form_input mt-4">
                <input type="checkbox" name="surcharge-time" id="surcharge-time" placeholder="EVERYDAY">
                <span class="ps-1">EveryDay</span>
                <input type="time">
            </div>
        </div>
        <div class="col-4">
            <div class="vehicle mt-4">
                Status:
            </div>
        </div>
        <div class="col-8">
            <div class="vehicle_form_input mt-4">
                <div class="select_dropdown">
                    <select name="status" id="status">
                        <option value="0">Deactive</option>
                        <option value="1">Active</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>